{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carrito</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrito.id }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ carrito.monto }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carrito_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carrito_edit', { 'id': carrito.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
